{% extends 'skychimp/base.html' %}
{% load static %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 ">
        {% for object in object_list %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-5 shadow-sm h-md-250 position-relative mt-5 m-5">
                <div class="col p-4 d-flex flex-column position-static">
                    {% if not object.is_published %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <span class="badge text-bg-danger">Не опубликован</span>
                    </div>
                    {% endif %}
                    <h3 class="mb-0">{{ object.title }}</h3>
                    <div class="mb-1 text-body-secondary">
                        Дата: {{ object.create_date }} <br>
                        <img class="icon" width="15" height="15" src="{% static 'eye.svg' %}" alt="chimp">
                        {{ object.count_views }}
                    </div>
                    <p class="card-text mb-1">{{ object.content|slice:100 }}</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="{% url 'blog:blog' object.pk %}" class="btn btn-outline-secondary">
                            Прочитать
                        </a>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" class="bd-placeholder-img" width="200" height="250">
                    {% else %}
                        <img src="{% static 'image-not-found-icon.svg' %}" class="bd-placeholder-img" width="200"
                             height="250">
                    {% endif %}
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    </svg>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}