{% extends 'skychimp/base.html' %}
{% load static %}
{% block content %}
    <main class="form-signin w-100 m-auto">
        <form method="post">
            {% csrf_token %}
            <img class="mb-4" src="{% static '1f412.svg' %}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Пожалуйста войдите</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {{ form.non_field_errors }}
            <div class="form-floating">
                {{ form.email.errors }}
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}">Почта</label>
            </div>
            {{ form.non_field_errors }}
            <div class="form-floating">
                {{ form.password.errors }}
                {{ form.password }}
                <label for="{{ form.password.id_for_label }}">Пароль</label>
            </div>
            <div class="form-check text-start my-3 text-center">
                <a class="text-center" href="{% url 'users:recovery_password' %}">
                    Восстановить пароль
                </a>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Войти</button>
        </form>
    </main>
{% endblock %}