{% extends 'skychimp/base.html' %}
{% load static %}
{% block content %}
    <main class="form-signin w-100 m-auto">
        <form method="post">
            {% csrf_token %}
            <img class="mb-4" src="{% static '1f412.svg' %}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Восстановление пароля</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {{ form.non_field_errors }}
            <div class="form-floating mb-3">
                {{ form.email_recovery.errors }}
                {{ form.email_recovery }}
                <label for="{{ form.email_recovery.id_for_label }}">Почта</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Восстановить пароль</button>
        </form>
    </main>
{% endblock %}