{% extends 'skychimp/base.html' %}
{% load static %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Мои рассылки</h1>
        </div>

        <div class="table-responsive small mt-2">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Email</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.pk }}</td>
                        {% if object.is_active %}
                            <td><span class="badge text-bg-success">Активна</span></td>
                            <td>{{ object.email }}</td>
                            <td>{{ object.first_name }}</td>
                            <td>{{ object.last_name }}</td>
                            <td><a class="btn btn-danger " href="{% url 'users:change_is_active' object.pk %}"
                               role="button"
                               style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Заблокировать</a>
                        </td>
                        {% else %}
                            <td><span class="badge text-bg-danger">Не активна</span></td>
                            <td><s>{{ object.email }}</s></td>
                            <td><s>{{ object.first_name }}</s></td>
                            <td><s>{{ object.last_name }}</s></td>
                            <td><a class="btn btn-success " href="{% url 'users:change_is_active' object.pk %}"
                               role="button"
                               style="--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Разблокировать</a>
                        </td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}