{% extends 'skychimp/base.html' %}
{% load static %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Главная страница</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="card-title">Кол-во рассылок</h5>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">
                        <h1>{{ mailing_settings_count }}</h1></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="card-title">Кол-во активных рассылок</h5>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">
                        <h1>{{ mailing_settings_count_run }}</h1></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="card-title">Кол-во уникальных клиентов</h5>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">
                        <h1>{{ mailing_client_unique_count }}</h1></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-3 border-bottom">
            <h2>Блог</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 h-auto card-group">
            {% for blog in blogs %}
                <div class="col-sm-6 ">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative mt-3 card">
                        <div class="col p-4 d-flex flex-column position-static">
                            {% if not blog.is_published %}
                                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <span class="badge text-bg-danger">Не опубликован</span>
                                </div>
                            {% endif %}
                            <h3 class="mb-0">{{ blog.title }}</h3>
                            <div class="mb-1 text-body-secondary">
                                Дата: {{ blog.create_date }} <br>
                                <img class="icon" width="15" height="15" src="{% static 'eye.svg' %}" alt="chimp">
                                {{ blog.count_views }}
                            </div>
                            <p class="card-text mb-1">{{ blog.content|slice:100 }}</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <a href="{% url 'blog:blog' blog.pk %}" class="btn btn-outline-secondary">
                                    Прочитать
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}